export(calculate_accuracy)
export(calculate_similarities)
export(create_table)
export(model_prediction)
export(model_training)
export(plot_test_accuracy)
export(plot_train_accuracy)
export(process_data)
export(run_simulation)
export(run_simulations)
export(split_data)

importFrom("stringr", "tm", "readr", "mcmcse", "tensorflow", "keras", "dplyr", "ggplot2")
